$body-min-width: 20rem;

$header-height: 3.5rem;
$menu-width: 16rem;
$toc-width: 16rem;

$mobile-breakpoint: 1023px;


$menu-background-color: #F5F7F9;
$menu-hover-color: #E6ECF1;
$menu-border-color: rgb(230, 236, 241);
$text-color-1: #333;
$text-color-2: #747474;
